{% extends 'base.html.twig' %}

{% block main %}

    <h2> Annuler une sortie </h2>

    <div>
        <p>Nom de la sortie: {{trip.name}}</p>
        <p>Date et heure de la sortie: {{trip.startTime|date("d-m-Y H:i")}}</p>
        <p>Campus : {{trip.campus.name}}</p>
        <p>Lieu : {{trip.place.street}} {{trip.place.city.cp}} {{trip.place.city.name}}</p>

        <form method="post">
            <label for="motif">Motif : </label>
            <textarea id="motif" name="motif" rows="5" required> {{trip.tripInfos}}</textarea>
            <button name="cancel" onclick="location.href='{{ path('trip_cancelTrip', {'id' : trip.id}) }})'" id="delete">Enregistrer</button>
        </form>

        <a href="{{ path('trip_home') }}"><button>Annuler</button></a>
    </div>

{% endblock %}