{% extends 'base.html.twig' %}

{% block main %}

    <h2> Créer une sortie </h2>

{{ form_start(tripForm) }}

    <div>
    {{ form_row(tripForm.name) }}
    {{ form_row(tripForm.startTime) }}
    {{ form_row(tripForm.registrationTimeLimit) }}
    {{ form_row(tripForm.maxRegistration) }}
    {{ form_row(tripForm.lenght) }}
    {{ form_row(tripForm.tripInfos) }}
    </div>

    <div>
    {{ form_row(tripForm.campus) }}
    {{ form_row(tripForm.city) }}
    {{ form_row(tripForm.place) }} {#<a href="{{path('place_create')}}"><input type="button" value="+"></a>#}
    {{form_row(tripForm.save)}}
    {{form_row(tripForm.publish)}}
    <a href="{{path('trip_home')}}"><input type="button" value="Annuler"></a>
    </div>

{{ form_end(tripForm) }}

{% endblock %}