{% extends 'base.html.twig' %}

{% block main %}

<h2>Afficher une sortie</h2>

    <div class="row">

        <div class="col-6">
            <p>Nom de la sortie: {{trip.name}}</p>
            <p>Date et heure de la sortie: {{trip.startTime|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY H:m")}}</p>
            <p>Date limite d'inscription: {{trip.registrationTimeLimit|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY")}}</p>
            <p>Nombre de places: {{trip.maxRegistration}}</p>
            <p>Durée: {{trip.lenght}}</p>
            <p>Description et infos: {{trip.tripInfos}}</p>
        </div>

        <div class="col-6">
            <p>Campus: </p>
            <p>Lieu: </p>
            <p>Rue: </p>
            <p>Code postal: </p>
            <p>Latitude: </p>
            <p>Longitude: </p>
        </div>

    </div>


<h3>Liste des participants inscrits:</h3>

    <div class="col-4" style="overflow-y:scroll">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Pseudo</th>
            <th>Nom</th>
        </tr>
        </thead>

        <tbody>
        {% for user in trip.users %}
        <tr>
            <td><a href="{{path('otherProfile', {'id':user.id})}}">{{user.pseudo}}</a></td>
            <td><a href="{{path('otherProfile', {'id':user.id})}}">{{user.name}}</a></td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
    </div>

{% endblock %}