{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block main %}
    <div id="date-user-pseudo">
        <h3>Date du jour : {{ "now"|date("d/m/Y") }}</h3>
        <h3>Participant : {{ app.user.pseudo }}</h3>
    </div>

    <div id="filter-zone">
        {{ form_start(searchForm) }}
        {{ form_end(searchForm) }}
    </div>

    <div id="trip-display">
        <table>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture des inscriptions le</th>
                <th>Nb d'inscrits/nb de places</th>
                <th>Etat de la sortie</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            {% for trip in tripList %}
                <tr>
                    <td>{{ trip.name }}</td>
                    <td>{{ trip.start_time|date("d,m,Y H") }}h{{ trip.start_time|date("i") }}</td>
                    <td>{{trip.registration_number}}{{ trip.max_registration }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
