{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block main %}
    <div id="date-user-pseudo">
        <h3>Date du jour : {{ "now"|date("d/m/Y") }}</h3>
        <h3>Participant : {{ app.user.pseudo }}</h3>
    </div>

    <div id="filter-zone">
        {{ form_start(searchForm) }}
        {{ form_end(searchForm) }}
    </div>

    {% for trip in tripList %}
    <div>
        <h4>{{trip.name}}
            {%for user in trip.users%}
                {%if(app.user.id == user.id) %}
                    - Inscrit
                {%endif%}
            {% endfor %}
        </h4>
        <p>Sortie : {{trip.state.description}}</p>
        <p>Organisateur : {{trip.organiser.firstname}} {{trip.organiser.name}}</p>
        <p>Date de la sortie : le {{trip.startTime|date("d M Y")}} à {{trip.startTime|date("H")}}h{{trip.startTime|date("i")}}</p>
        <p>Clôture des inscriptions : </p>
        <p>Nombre d'inscrits : {{trip.users.count()}}/{{trip.maxRegistration}}</p>

    </div>
    {% endfor %}

{% endblock %}
