{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block main %}
    <div id="date-user-pseudo">
        <h3>Date du jour : {{ "now"|date("d/m/Y") }}</h3>
        <h3>Participant : {{ app.user.pseudo }}</h3>
    </div>

    <div id="filter-zone">

        {{ form_start(searchForm) }}

        <div class="form-group row">

        <div class="form-group col-5">
            {{form_row(searchForm.campus)}}
            {{form_row(searchForm.nameContain)}}
            {{form_row(searchForm.begindate)}}
            {{form_row(searchForm.enddate)}}
        </div>

            <div class="form-group col-1"></div>

        <div class="form-group col-5">
            {{form_row(searchForm.isOrganiser)}}
            {{form_row(searchForm.isRegistered)}}
            {{form_row(searchForm.isNotRegistered)}}
            {{form_row(searchForm.isPassed)}}
        </div>

        </div>

        {{form_row(searchForm.Rechercher)}}

        {{ form_end(searchForm) }}
    </div>

    <div class="row">
    {% for trip in tripList %}
        <div class="p-2">
        <div class="card border-warning mb-3 col-2" style="max-width: 20rem;">

            <h4>{{ trip.name }}
                {% if(app.user in trip.users) %}
                    - Inscrit
                {% endif %}
            </h4>
            <p>Sortie : {{ trip.state.description }}</p>
            <p>Organisateur : {{ trip.organiser.firstname }} {{ trip.organiser.name }}</p>
            <p>Date de la sortie : le {{ trip.startTime|date("d M Y") }} à {{ trip.startTime|date("H") }}
                h{{ trip.startTime|date("i") }}</p>
            <p>Clôture des inscriptions : {{ trip.registrationTimeLimit|date("d M Y") }}</p>
            <p>Nombre d'inscrits : {{ trip.users.count() }}/{{ trip.maxRegistration }}</p>


            {# affichage du bouton "afficher la sortie" en fonction de l'état #}
            {% if (trip.state.description != "Créée") %}
                <button style="background-color: #C0FFC4" onclick="location.href= '{{ path('trip_display', {'id' : trip.id}) }}'" id="displayTrip">
                    Afficher
                </button>
            {% endif %}

            {# affichage du bouton "s'inscrire à la sortie" #}
            {% if (not app.user in trip.users) and (trip.state.description == "Ouverte") and (trip.users.count() != trip.maxRegistration) and (app.user.id != trip.organiser.id) %}
                <button style="background-color: #F0E68C" onclick="location.href='{{ path('trip_subscribe', {'id' : trip.id}) }}'" id="suscribe">
                    S'incrire
                </button>
            {% endif %}


            {% if(app.user in trip.users) and (app.user.id != trip.organiser.id) and (trip.state.description == "Ouverte" or "Clôturée") %}
                <button style="background-color: #FFEFD5" onclick="location.href='{{ path('trip_unsubscribe', {'id' : trip.id}) }}'" id="unSubscribe">
                    Se désinscrire
                </button>
            {% endif %}

            {% if (app.user.id == trip.organiser.id) and (trip.state.description == "Créée") %}
                <button style="background-color: #FFFFE0" onclick="location.href='{{ path('trip_publish', {'id' : trip.id}) }}'" id="publishTrip">
                    Publier
                </button>
                <button style="background-color: #FFF0F5" onclick="location.href='{{ path('trip_edit', {'id' : trip.id}) }}'" id="editTrip">Modifier
                </button>
            {% endif %}

            {% if (app.user.id == trip.organiser.id) and (trip.state.description == "Ouverte") %}
                <button style="background-color: #FFDAB9" onclick="location.href='{{ path('trip_cancel', {'id' : trip.id}) }}'" id="cancelTrip">Annuler</button>
            {% endif %}
        </div>
        </div>
    {% endfor %}
    </div>

    <div>
        <button type="button" class="btn" style="background-color: #3CB371" onclick="location.href= '{{ path('trip_create') }}'" id="createTrip">Créer une sortie</button>
    </div>

{% endblock %}
