<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sortir avec l'ENI{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
    <link rel="stylesheet" href="{{asset('css/style.css')}}">
    {% block stylesheet %}{% endblock %}

</head>

<body>
<div class="p-2">
<header style="background-color:#FFFAFA">
    {% block header %}

        <div class="row container-fluid">
            <div class="pb-1">
                <img class="rounded float-left" style="width:20%" src="{{asset('img/logo_sortir.png')}}" id="logo" alt="logo du site"/>
            </div>
            <div class="pt-5 col-1">
                <h2 style="font-size: 400%">Sortir.com</h2>
            </div>
        </div>

        {# récupération des messages flash de nos différentes pages #}
        {# boucle pour récupérer plusieurs messages si besoin #}
        {% for message in app.flashes('message') %}
            <h3>{{ message }}</h3>
        {% endfor %}
    {% endblock %}
</header>

<nav>
    {% block navbar %}
        {% if app.user %}

            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3CB371;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarColor02">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="" title="Villes">Villes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="" title="Campus">Campus</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('trip_home') }}"
                                   title="Aller à l'accueil">Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('edit') }}" title="Mon profil">Mon profil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('logout') }}" title="Se déconnecter">Se
                                    déconnecter</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endif %}
    {% endblock %}
</nav>

<div  style="background-color:#FFFAFA" class="p-4">
    {% block main %}{% endblock %}
</div>


<footer>
    {% block footer %}{% endblock %}
</footer>
</div>
</body>
</html>
