{% extends 'base.html.twig' %}

{% block title %}Modification du profil de {{ app.user.firstname}} {{ app.user.name }}{% endblock %}

{% block main %}

    <div class="text-center">
        <h1>Modification du profil de {{ app.user.firstname}} {{ app.user.name }}</h1>
    </div>

    {{form_start(profileForm)}}

    <div class="form-group row">


        <div class="form-group col-3">
            {{ form_row(profileForm.imageFile) }}
        </div>

        <div class="form group col-5">
            {{ form_row(profileForm.pseudo) }}
            {{ form_row(profileForm.name) }}
            {{ form_row(profileForm.firstname) }}
            {{ form_row(profileForm.phoneNumber) }}
            {{ form_row(profileForm.email) }}
            {{ form_row(profileForm.password) }}
            {{ form_row(profileForm.campus) }}
            {{ form_row(profileForm.Enregistrer) }}
            <a href="{{ path('trip_home') }}"><button style="background-color: #FFDAB9" >Annuler</button></a>
        </div>

    </div>

    {{form_end(profileForm)}}





{% endblock %}
