{% extends 'base.html.twig' %}

{% block title %}Modification du profil de {{ app.user.firstname}} {{ app.user.name }}{% endblock %}

{% block main %}
    <h1>Modification du profil de {{ app.user.firstname}} {{ app.user.name }}</h1>

        {{ form(profileForm) }}

{% endblock %}
