{% extends 'base.html.twig' %}

{% block title %}Modification du profil de {{ app.user.firstname}} {{ app.user.name }}{% endblock %}
{%block stylesheet%}{{parent()}}
<link rel="stylesheet" href="{{asset('css/editprofileCSS.css')}}">
{%endblock%}
{% block main %}

    <div class="text-center">
        <h1>Modification du profil de {{ app.user.firstname}} {{ app.user.name }}</h1>
    </div>

    <div class="form-group row">

        <div class="form-group col-12 col-lg-4" >
                <img src="{{ asset('uploads/' ~ app.user.getImage())}}" id="profile-img">
        </div>

    {{form_start(profileForm)}}

        <div class="form group col-12 col-lg-8" id="edit-form">
            {{ form_row(profileForm.pseudo) }}
            {{ form_row(profileForm.name) }}
            {{ form_row(profileForm.firstname) }}
            {{ form_row(profileForm.phoneNumber) }}
            {{ form_row(profileForm.email) }}
            {{ form_row(profileForm.password) }}
            {{ form_row(profileForm.image) }}
            {{ form_row(profileForm.campus) }}
            {{ form_row(profileForm.Enregistrer) }}

    {{form_end(profileForm)}}

    <a href="{{ path('trip_home') }}" id="cancel-link"><button style="background-color: #3CB371" >Annuler</button></a>
        </div>
    </div>

{% endblock %}
